<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>广州空气质量指数(AQI)实时查询！</title>
    <!--<meta name="Keywords" content="PM2.5,细颗粒物,雾霾,PM2.5浓度,PM2.5指数,PM2.5监测,空气质量,空气质量指数,空气污染,绿色呼吸">-->
    <!--<meta name="Description" content="绿色呼吸免费提供PM2.5实时数据查询,更收集分析关于PM2.5有关的一切报告和科研结论,力求以绵薄之力寻同呼吸共命运的你关注PM2.5,关注大气健康!">-->
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/citydata.css' %}">
    
    <script src="{% static 'mainapp/js/echarts.js' %}"></script> 

</head>

<body>
    <div class="topnav_width">
        <div class="topnav">
            <div class="topnav_right">
                <a class="topnav_map" href="/map.html">进入地图模式&gt;&gt;</a>
            </div>
        </div>
    </div>
    <!--banner上的阴影-->
    <div class="banner_shadow"></div>
    <!--banner部分-->
    <!--banner 背景颜色 -->
    {% if gzepb_city_average %}
      {% with gzepb_quality=gzepb_city_average.quality.china_quality %}
        {% if gzepb_quality == "优" %}
          <div class="citydata_banner_width banner_bg_level1">
        {% elif gzepb_quality == "良" %}
          <div class="citydata_banner_width banner_bg_level2">
        {% elif gzepb_quality == "轻度污染" %}
          <div class="citydata_banner_width banner_bg_level3">
        {% elif gzepb_quality == "中度污染" %}
          <div class="citydata_banner_width banner_bg_level4">
        {% elif gzepb_quality == "重度污染" %}
          <div class="citydata_banner_width banner_bg_level5">
        {% elif gzepb_quality == "严重污染" %}
          <div class="citydata_banner_width banner_bg_level6">
        {% else %}
          <div class="citydata_banner_width banner_bg_level1">
        {% endif %}
      {% endwith %}
    {% elif aqicn_city_average %}
      {% with aqicn_quality=aqicn_city_average.quality.china_quality %}
        {% if aqicn_quality == "优" %}
          <div class="citydata_banner_width banner_bg_level1">
        {% elif aqicn_quality == "良" %}
          <div class="citydata_banner_width banner_bg_level2">
        {% elif aqicn_quality == "轻度污染" %}
          <div class="citydata_banner_width banner_bg_level3">
        {% elif aqicn_quality == "中度污染" %}
          <div class="citydata_banner_width banner_bg_level4">
        {% elif aqicn_quality == "重度污染" %}
          <div class="citydata_banner_width banner_bg_level5">
        {% elif aqicn_quality == "严重污染" %}
          <div class="citydata_banner_width banner_bg_level6">
        {% else %}
          <div class="citydata_banner_width banner_bg_level1">
        {% endif %}
      {% endwith %}
    {% else %}
      <div class="citydata_banner_width banner_bg_level1">
    {% endif %}
        <!-- banner内容开始-->
        <div class="citydata_banner">
            <!-- 广州 -->
            <div class="citydata_banner_top">
                <div class="citydata_changecity">
                  <span class="city_name">广州</span>
                  {% if gzepb_city_average %}
                    <span class="city_description">发布中心:实时空气质量指数（AQI）</span>
                  {% elif aqicn_city_average %}
                    <span class="city_description">美领馆：实时空气质量指数（AQI）</span>
                  {% else %}
                    <span class="city_description">暂无平均数据</span>
                  {% endif %}
                </div>

                <div class="citydata_updatetime">
                  <div class="citydata_updatetime_1">广州发布更新：{{ gzepb_time_point }}</div>
                  <div class="citydata_updatetime_2">美领馆更新：{{ aqicn_time_point }}</div>
                </div>
                <div class="clear"></div>
            </div>

            <!--透明层-->
            <div class="citydata_banner_opacity">

                <div class="cbo_left">
                  <!-- AQI值 -->
                  <div class="cbol_aqi">
                    {% if gzepb_city_average %}
                      {% if gzepb_city_average.aqi %}
                        <a class="cbol_aqi_num" href="/news/385.html" target="_blank">{{ gzepb_city_average.aqi|add:0 }}</a>
                      {% else %}
                       <i></i>  
                      {% endif %}
                    {% elif aqicn_city_average %}
                      {% if aqicn_city_average.aqi %}
                        <a class="cbol_aqi_num" href="/news/385.html" target="_blank">{{ aqicn_city_average.aqi|add:0 }}</a>
                      {% else %}
                       <i></i>  
                      {% endif %}
                    {% else %}
                      <p class="cbol_aqi_num cbol_aqi_nodata"><i></i></p>
                    {% endif %}
                    <a class="cbol_aqi_name" href="/news/385.html" target="_blank">AQI指数</a>
                  </div>
                  
                  <!-- 首要污染物 -->
                  <div class="cbol_wuranwu">
                    <!--没有污染物数据的时候，增加个“cbol_wuranwu_nodata”，删掉里面内容再加个i标签"<i></i>"-->
                    {% if gzepb_city_average %}
                      {% if gzepb_city_average.dominentpol %}
                        <a class="cbol_wuranwu_num " href="/news/387.html" target="_blank">{{ gzepb_city_average.dominentpol }}</a>
                      {% else %}
                        <a class="cbol_wuranwu_num cbol_wuranwu_nodata" href="/news/387.html" target="_blank"><i></i></a>
                      {% endif %}
                    {% elif aqicn_city_average %}
                      {% if aqicn_city_average.dominentpol %}
                        <a class="cbol_wuranwu_num " href="/news/387.html" target="_blank">{{ aqicn_city_average.dominentpol|upper }}</a>
                      {% else %}
                        <a class="cbol_wuranwu_num cbol_wuranwu_nodata" href="/news/387.html" target="_blank"><i></i></a>
                      {% endif %}
                    {% else %}
                      <a class="cbol_wuranwu_num cbol_wuranwu_nodata" href="/news/387.html" target="_blank"><i></i></a>
                    {% endif %}
                    <a class="cbol_wuranwu_name" href="/news/387.html" target="_blank">首要污染物</a>
                  </div>

                  <!-- PM2.5浓度/IAQI值 -->
                  <div class="cbol_nongdu">
                    {% if gzepb_city_average %}
                      {% if gzepb_city_average.pm25_1h %}
                        <a class="cbol_nongdu_num " href="/news/386.html" target="_blank">
                          <span class="cbol_nongdu_num_1">{{ gzepb_city_average.pm25_1h|add:0 }}</span>
                          <span class="cbol_nongdu_num_2">微克/立方米</span>
                        </a>
                        <a class="cbol_nongdu_name" href="/news/386.html" target="_blank">PM2.5浓度</a>
                      {% else %}
                        <a class="cbol_nongdu_num cbol_nongdu_nodata" href="/news/386.html" target="_blank">
                          <i></i>
                        </a>
                        <a class="cbol_nongdu_name" href="/news/386.html" target="_blank">PM2.5浓度</a>
                      {% endif %}
                    {% elif aqicn_city_average %}
                      {% if aqicn_city_average.pm25_iaqi %}
                        <a class="cbol_nongdu_num " href="/news/386.html" target="_blank">
                          <span class="cbol_nongdu_num_iaqi">{{ aqicn_city_average.pm25_iaqi|add:0 }}</span>
                        </a>
                        <a class="cbol_nongdu_name" href="/news/386.html" target="_blank">PM2.5 IAQI</a>
                      {% else %}
                        <a class="cbol_nongdu_num cbol_nongdu_nodata" href="/news/386.html" target="_blank">
                          <i></i>
                        </a>
                        <a class="cbol_nongdu_name" href="/news/386.html" target="_blank">PM2.5 IAQI</a>
                      {% endif %} 
                    {% else %}
                        <a class="cbol_nongdu_num cbol_nongdu_nodata" href="/news/386.html" target="_blank">
                          <i></i>
                        </a>
                        <a class="cbol_nongdu_name" href="/news/386.html" target="_blank">PM2.5浓度</a>
                    {% endif %}
                  </div>
                </div>
                
                <!-- 右边 -->
                <div class="cbo_right">
                    <div class="cbor_gauge">
                      {% if gzepb_city_average %}
                        {% with quality=gzepb_city_average.quality.china_quality %}
                          {% if quality == "优" %}
                            <span class="cbor_gauge_level1">{{ quality }}</span>
                          {% elif quality == "良" %}
                            <span class="cbor_gauge_level2">{{ quality }}</span>
                          {% elif quality == "轻度污染" %}
                            <span class="cbor_gauge_level3">{{ quality }}</span>
                          {% elif quality == "中度污染" %}
                            <span class="cbor_gauge_level4">{{ quality }}</span>
                          {% elif quality == "重度污染" %}
                            <span class="cbor_gauge_level5">{{ quality }}</span>
                          {% elif quality == "严重污染" %}
                            <span class="cbor_gauge_level6">{{ quality }}</span>
                          {% else %}
                            <span class="cbor_gauge_level1">暂无数据</span>
                          {% endif %}
                        {% endwith %}
                      {% elif aqicn_city_average %}
                        {% with quality=aqicn_city_average.quality.china_quality %}
                          {% if quality == "优" %}
                            <span class="cbor_gauge_level1">{{ quality }}</span>
                          {% elif quality == "良" %}
                            <span class="cbor_gauge_level2">{{ quality }}</span>
                          {% elif quality == "轻度污染" %}
                            <span class="cbor_gauge_level3">{{ quality }}</span>
                          {% elif quality == "中度污染" %}
                            <span class="cbor_gauge_level4">{{ quality }}</span>
                          {% elif quality == "重度污染" %}
                            <span class="cbor_gauge_level5">{{ quality }}</span>
                          {% elif quality == "严重污染" %}
                            <span class="cbor_gauge_level6">{{ quality }}</span>
                          {% else %}
                            <span class="cbor_gauge_level1">暂无数据</span>
                          {% endif %}
                        {% endwith %}
                      {% else %}
                        <span class="cbor_gauge_level1">暂无数据</span>
                      {% endif %}

                        <p class="cbor_gauge_img"></p>
                        <p class="cbor_gauge_num">0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500</p>
                    </div>
                    <div class="cbor_tips">
                      <p>
                        {% if gzepb_city_average %}
                          <span>温馨提示：</span>{{ gzepb_city_average.quality.advice }}
                        {% elif aqicn_city_average %}
                          <span>温馨提示：</span>{{ aqicn_city_average.quality.advice }}
                        {% else %}
                          <span></span>
                        {% endif %}
                      </p>
                    </div>
                    
                </div>
                <div class="clear"></div>
            </div>
            <div class="cbo_opacity"></div>
        </div>
    </div>

    <!--主体内容-->
    <div class="main_width">  
        <div class="main">
            <!--监测点数据-->
            <div class="panel_jiance">
                <p class="pg_title">广州 各监测点实时数据</p>
                <div class="pj_area ui-switchable" data-widget-cid="widget-1">
                    <div class="pj_area_tab ui-switchable-nav">
                        <a class="tab_caqi current ui-switchable-trigger" href="javascript:void(0)">中国标准<i></i></a>
                        <!--
                        <a class="tab_maqi ui-switchable-trigger" href="javascript:void(0)">美国标准<i></i></a>
              -->
                        <div class="clear"></div>
                    </div>
                    <p class="pj_area_links">
                        <a href="/news/96.html" target="_blank">查看中美标准差异&gt;&gt;</a>
                    </p>

                    <!--详细数据开始-->
                    <div class="pj_area_data ui-switchable-content">
                      {% if lastest_aqicn_data %}
                        <div class="pj_area_data_title">
                            <span class="pjadt_location">美领馆监测站点</span>
                            <!--AQI指数有上下箭头，可以选择排序,a标签分别增加“aqi_arrow_top”和“aqi_arrow_down”,默认是没有这个类名的-->
                            <a class="pjadt_aqi aqi_arrow_top" href="javascript:void(0)" style="cursor:default;">
                                <span>AQI</span>
                            </a>
                            <span class="pjadt_quality">空气质量状况</span>
                            <span class="pjadt_wuranwu">首要污染物</span>
                            <!--
                            <span class="pjadt_pm25">PM2.5浓度</span>
                            <span class="pjadt_pm10">PM10浓度</span>
                            -->
                            <span class="pjadt_pm25">PM2.5 IAQI</span>
                            <span class="pjadt_pm10">PM10 IAQI</span>
                            <div class="clear"></div>
                        </div>
                      {% endif %}
                        <ul class="pj_area_data_details ui-switchable-panel">
                            <!--鼠标划上去后，要有个li的背景变绿色效果，增加li的"pj_area_data_item_active"就行-->
                            {% for station_data in lastest_aqicn_data %}
                              <li class="pj_area_data_item pj_area_data_item_darkbg">
                              <b></b>
                              <a class="pjadt_location" href="{{ station_data.station_name.get_absolute_url }}" title="查看广雅中学详细数据">{{ station_data.station_name.display_name }}</a>
                                <span class="pjadt_aqi">{{ station_data.aqi }}<i class=""></i></span>

                                {% if station_data.quality.color == "绿色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_1">{{ station_data.quality.usa_quality }}</em></span>
                                {% elif station_data.quality.color == "黄色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_2">{{ station_data.quality.usa_quality }}</em></span>
                                {% elif station_data.quality.color == "橘色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_3">{{ station_data.quality.usa_quality }}</em></span>
                                {% elif station_data.quality.color == "红色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_4">{{ station_data.quality.usa_quality }}</em></span>
                                {% elif station_data.quality.color == "紫色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_5">{{ station_data.quality.usa_quality }}</em></span>
                                {% elif station_data.quality.color == "枣红色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_6">{{ station_data.quality.usa_quality }}</em></span>
                                {% else %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_6">{{ station_data.quality.usa_quality }}</em></span>
                                {% endif %}
                                <a class="pjadt_wuranwu" href="/news/387.html" title="颗粒物(PM10)" target="_blank">{{ station_data.dominentpol }}</a>
                                <span class="pjadt_pm25">{{ station_data.pm25_iaqi }} <i class=""></i></span>
                                <span class="pjadt_pm10">{{ station_data.pm10_iaqi }} <i class=""></i></span>
                                <!--
                                <span class="pjadt_pm25">{{ station_data.pm25_1h }} <em>μg/m³</em><i class=""></i></span>
                                <span class="pjadt_pm10">{{ station_data.pm10_1h }} <em>μg/m³</em><i class=""></i></span>
                                -->
                                <div class="clear"></div>
                              </li>                             
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- gzepb  -->
                    <div class="pj_area_data ui-switchable-content">
                      {% if lastest_aqicn_data %}
                        <div class="pj_area_data_title">
                            <span class="pjadt_location">Gzepb监测站点</span>
                            <!--AQI指数有上下箭头，可以选择排序,a标签分别增加“aqi_arrow_top”和“aqi_arrow_down”,默认是没有这个类名的-->
                            <a class="pjadt_aqi aqi_arrow_top" href="javascript:void(0)" style="cursor:default;">
                                <span>AQI</span>
                            </a>
                            <span class="pjadt_quality">空气质量状况</span>
                            <span class="pjadt_wuranwu">首要污染物</span>
                            <!--
                            <span class="pjadt_pm25">PM2.5浓度</span>
                            <span class="pjadt_pm10">PM10浓度</span>
                            -->
                            <span class="pjadt_pm25">PM2.5 IAQI</span>
                            <span class="pjadt_pm10">PM10 IAQI</span>
                            <div class="clear"></div>
                        </div>
                      {% endif %}
                        <ul class="pj_area_data_details ui-switchable-panel">
                            {% for station_data in lastest_gzepb_data %}
                              <li class="pj_area_data_item pj_area_data_item_darkbg">
                              <b></b>
                              <a class="pjadt_location" href="{{ station_data.station_name.get_absolute_url }}" title="查看广雅中学详细数据">{{ station_data.station_name.display_name }}</a>
                                <span class="pjadt_aqi">{{ station_data.aqi }}<i class=""></i></span>

                                {% if station_data.quality.color == "绿色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_1">{{ station_data.quality.china_quality }}</em></span>
                                {% elif station_data.quality.color == "黄色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_2">{{ station_data.quality.china_quality }}</em></span>
                                {% elif station_data.quality.color == "橘色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_3">{{ station_data.quality.china_quality }}</em></span>
                                {% elif station_data.quality.color == "红色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_4">{{ station_data.quality.china_quality }}</em></span>
                                {% elif station_data.quality.color == "紫色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_5">{{ station_data.quality.china_quality }}</em></span>
                                {% elif station_data.quality.color == "枣红色" %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_6">{{ station_data.quality.china_quality }}</em></span>
                                {% else %}
                                  <span class="pjadt_quality"><em class="pjadt_quality_bglevel_6">{{ station_data.quality.china_quality }}</em></span>
                                {% endif %}

                                <a class="pjadt_wuranwu" href="/news/387.html" title="颗粒物(PM10)" target="_blank">{{ station_data.dominentpol }}</a>
                                <span class="pjadt_pm25">{{ station_data.pm25_iaqi }} <i class=""></i></span>
                                <span class="pjadt_pm10">{{ station_data.pm10_iaqi }} <i class=""></i></span>
                                <div class="clear"></div>
                              </li>                             
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 曲线图 -->
            <p class="pg_title">广州 空气质量指数(AQI)变化趋势</p>
            <div class="pg_area">
              <div class="pg_area_tab" id="myTab0">
                <a class="active current">最近24小时<i></i></a>
                <!--<a class="normal">最近30天<i></i></a>-->
                <div class="clear"></div>
              </div>
              <div id="myTab0_Content0">
                <div id="aqicn" class="pg_content" style="background-color:#f7f7f7;"></div>
              </div>
              <!--<div id="myTab0_Content1" class="none">-->
                <!--<div id="pg_content_30d" class="pg_content" style="background-color:#f7f7f7;"></div>-->
              <!--</div>-->
            </div>


        </div>
    </div>

  </div>
</html>

<script type="text/javascript">
function nTabs(thisObj, Num) {
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("a");
    for (var index = 0; index < tabList.length; index++) {
        if (index == Num) {
            thisObj.className = "active";
            document.getElementById(tabObj + "_Content" + index).style.display = "block";
        } else {
            tabList[index].className = "normal";
            document.getElementById(tabObj + "_Content" + index).style.display = "none";
        }
    }
}
window.onload = function() {
    var obox = document.getElementById("myTab0");
    var lis = obox.getElementsByTagName("a");
    for (var index = 0; index < lis.length; index++) {
        lis[index].index = index;
        lis[index].onclick = function() {
            nTabs(this, this.index);
            //插入修改class
            this.setAttribute("class", "current");
        }
    }
}
</script>

<script type="text/javascript">
var myChart = echarts.init(document.getElementById('aqicn'));
{% load js %}
var option = {{ aqicn_option|js }}
myChart.setOption(option);
//var option = {
//    color: ['#79b05f', '#e58c65'],
//    tooltip: {
//        trigger: 'axis'
//    },
//    legend: {
//        data: ['美国标准', '中国标准']
//    },
//    xAxis: [{
//        type: 'category',
//        boundaryGap: false,
//        data: ["06\u65e509\u65f6", "06\u65e510\u65f6", "06\u65e511\u65f6", "06\u65e512\u65f6", "06\u65e513\u65f6", "06\u65e514\u65f6", "06\u65e515\u65f6", "06\u65e516\u65f6", "06\u65e517\u65f6", "06\u65e518\u65f6", "06\u65e519\u65f6", "06\u65e520\u65f6", "06\u65e521\u65f6", "06\u65e523\u65f6", "07\u65e500\u65f6", "07\u65e501\u65f6", "07\u65e502\u65f6", "07\u65e503\u65f6", "07\u65e504\u65f6", "07\u65e505\u65f6", "07\u65e506\u65f6", "07\u65e507\u65f6", "07\u65e508\u65f6", "07\u65e509\u65f6"],
//        axisLine: {
//            lineStyle: {
//                color: '#d4d4d4'
//            }
//        }
//    }],
//    yAxis: [{
//        type: 'value',
//        axisLabel: {
//            formatter: '{value} '
//        },
//        axisLine: {
//            lineStyle: {
//                color: '#d4d4d4'
//            }
//        }
//    }],
//
//    //曲线数据
//    series: [{
//        name: '美国标准',
//        type: 'line',
//        data: [115, 115, 118, 116, 114, 115, 114, 116, 120, 120, 119, 117, 102, 91, 92, 95, 98, 101, 102, 102, 104, 105, 110, 111]
//    }, {
//        name: '中国标准',
//        type: 'line',
//        data: [67, 69, 70, 71, 69, 71, 69, 72, 74, 75, 74, 77, 71, 59, 57, 59, 59, 62, 62, 63, 63, 65, 67, 70]
//    }]
//};
//// 为echarts对象加载数据 
//// 使用myChart
//myChart.setOption(option);
//
//// 30d表格
//// 基于准备好的dom，初始化echarts图表
////var myChart = ec.init(document.getElementById('pg_content_30d'));
//var myChart = echarts.init(document.getElementById('pg_content_30d'));
//var option = {
//    color: ['#79b05f', '#e58c65'],
//    tooltip: {
//        trigger: 'axis'
//    },
//    legend: {
//        data: ['美国标准', '中国标准']
//    },
//    xAxis: [{
//        type: 'category',
//        boundaryGap: false,
//        data: ["08\u65e5", "09\u65e5", "10\u65e5", "11\u65e5", "12\u65e5", "13\u65e5", "14\u65e5", "15\u65e5", "16\u65e5", "17\u65e5", "18\u65e5", "19\u65e5", "20\u65e5", "21\u65e5", "22\u65e5", "23\u65e5", "24\u65e5", "25\u65e5", "26\u65e5", "27\u65e5", "28\u65e5", "29\u65e5", "30\u65e5", "31\u65e5", "01\u65e5", "02\u65e5", "03\u65e5", "04\u65e5", "05\u65e5", "06\u65e5"],
//        axisLine: {
//            lineStyle: {
//                color: '#d4d4d4'
//            }
//        }
//    }],
//    yAxis: [{
//        type: 'value',
//        axisLabel: {
//            formatter: '{value} '
//        },
//        axisLine: {
//            lineStyle: {
//                color: '#d4d4d4'
//            }
//        }
//    }],
//    series: [{
//        name: '美国标准',
//        type: 'line',
//        data: [87, 106, 104, 86, 129, 128, 52, 90, 118, 111, 117, 89, 108, 94, 86, 96, 85, 40, 57, 96, 113, 109, 100, 47, 61, 92, 124, 90, 85, 106]
//    }, {
//        name: '中国标准',
//        type: 'line',
//        data: [49, 61, 65, 48, 83, 83, 32, 53, 70, 69, 79, 52, 65, 63, 52, 58, 57, 25, 48, 69, 77, 70, 66, 31, 42, 57, 76, 57, 56, 66]
//    }]
//};
//// 为echarts对象加载数据 
//myChart.setOption(option);
//
</script>
