@CHARSET "UTF-8";
body {
    margin: 0px auto;
    font-size: 12px;
    font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
    background-color: #fbfbfb;
}

input,
textarea {
    font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
p {
    padding: 0px;
    margin: 0px;
}

ul,
li,
ol {
    list-style: none outside none;
}

img {
    border: 0px;
}

a {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover {
    text-decoration: none;
}

html,
body {
    -webkit-text-size-adjust: none;
}

.clear {
    clear: both;
    height: 0px;
    font-size: 1px;
    overflow: hidden;
    line-height: 0px;
}


/********通用页面顶部********/

.hide,
.none {
    display: none;
}


/*顶部长条*/

.topnav_width {
    width: 100%;
    height: 31px;
    border-top: #57b382 solid 3px;
    border-bottom: #eff5ec solid 1px;
    background-color: #fff;
}

.topnav {
    width: 980px;
    margin: 0px auto;
    font-size: 12px;
}

.topnav_right {
    float: right;
    display: inline;
}

.topnav_right a.topnav_map {
    float: right;
    display: inline;
    color: #888;
    line-height: 31px;
    margin-right: 15px;
}

.topnav_right a.topnav_map:hover {
    color: #1e9e69;
}



/*banner上的阴影条*/

.banner_shadow {
    position: absolute;
    /*
    top: 125px;
    */
    top: 35px;
    left: 0px;
    width: 100%;
    height: 13px;
    z-index: 21;
    background: url(../images/bg_banner_shadow.png) 0 0 repeat-x;
}


/*主体内容宽度*/

.main_width {
    width: 100%;
}

.main {
    width: 980px;
    margin: 0px auto;
    position: relative;
    padding-bottom: 40px;
